@{
    ViewBag.Title = "Contact";
}
<br>
<h3>THÔNG TIN LIÊN HỆ</h3>

<address>
    <br>
    <h2>ĐÌNH THẮNG COFFE</h2>
    <br>
    <strong> Địa chỉ:</strong> Trường Đại học Trà Vinh
    <br/>
  
    <strong> Điện thoại:</strong> 0378570562
    <br>
    <strong>Email:</strong>   <a href="mailto:thangnd261000@tvu-onschool.edu.vn">thangnd261000@tvu-onschool.edu.vn</a><br />
</address>

