@{
    ViewBag.Title = "Đình Thắng Coffe";
    
}


<br />
<div class="row">
    
    
</div>
<div>
    <img class="img-responsive" src="~/HinhanhSP/banner4.jpg" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        
    </div>
</div>

<div class="dt">
    @Html.Action("dtiphonePartial", "Sanpham")<br>
    @Html.Action("dtsamsungpartial", "Sanpham")<br>
</div>


